<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Type</th>
        <th>Track</th>
        <th>User Type</th>
        <th>User Level</th>
        <th>Speaker 1 Name</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
