<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Title</dt>
        <dd>{{session-title}}</dd>
        <dt>Session Type</dt>
        <dd>{{session-type}}  <br /><br /></dd>

        <dt>Track</dt>
        <dd>{{track}}</dd>
        <dt>User Type</dt>
        <dd>{{user-type}}</dd>
        <dt>Expertise Level</dt>
        <dd>{{user-level}}</dd>
        <dt>Requested Equipment</dt>
        <dd>{{requested-equipment}}<br /><br /></dd>

        <dt>Description</dt>
        <dd>{{description}}<br /><br /></dd>

        <dt>Speaker 1</dt>
        <dd>
            <dl>
                <dt>Name</dt>
                <dd>{{speaker1name}}</dd>
                <dt>Title</dt>
                <dd>{{speaker1title}}</dd>
                <dt>Institution</dt>
                <dd>{{speaker1institution}}</dd>
                <dt>Bio</dt>
                <dd>{{speaker1bio}}</dd>
            </dl>
        </dd>

        <dt>Speaker 2</dt>
        <dd>
            <dl>
                <dt>Name</dt>
                <dd>{{speaker2name}}</dd>
                <dt>Title</dt>
                <dd>{{speaker2title}}</dd>
                <dt>Institution</dt>
                <dd>{{speaker2institution}}</dd>
                <dt>Bio</dt>
                <dd>{{speaker2bio}}</dd>
            </dl>
        </dd>

        <dt>Speaker 3</dt>
        <dd>
            <dl>
                <dt>Name</dt>
                <dd>{{speaker3name}}</dd>
                <dt>Title</dt>
                <dd>{{speaker3title}}</dd>
                <dt>Institution</dt>
                <dd>{{speaker3institution}}</dd>
                <dt>Bio</dt>
                <dd>{{speaker3bio}}</dd>
            </dl>
        </dd>

        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>

    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
