<td>{{session-title}}</td>
<td>{{session-type}}</td>
<td>{{track}}</td>
<td>{{user-type}}</td>
<td>{{user-level}}</td>
<td>{{speaker1name}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
