---
# <!-- @formatter:off -->
title: Forms - Become a Partner
label: Become a Partner EN-US
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--become-a-partner.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="talisma"
         data-group="en-in"
         data-label="Become a Partner - Talisma"
         data-apiFolder="become-a-partner">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


