<h2 class="list-detail-app__title">{{label}}</h2>
<ul class="sectionNav"></ul>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Institution</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>Group</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
