<td>{{firstName}} {{lastName}}</td>
<td>{{institution}}</td>
<td>{{email}}</td>
<td>{{phone}}</td>
<td>{{message}}</td>
<td>{{group}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
