---
# <!-- @formatter:off -->
title: JS Errors
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--js-errors.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/page--errors-client-side-js.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top"}}
{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<script src="//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"
        type="text/javascript"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.min.js'
        type='text/javascript'></script>
<div id="MountPoint"
     data-label="Client Side Javascript Errors"
></div>
{{/content}}
{{/extend}}
