<h2 class="list-detail-app__title list-detail-app__title--s3-list">{{label}}</h2>
<a class="s3-list__bucket-link"
   target="_blank"
   href="https://console.aws.amazon.com/s3/home?region={{AWS_REGION}}#&bucket={{AWS_S3_BUCKET_PREFIX}}{{options.apiFolder}}--{{options.site}}--{{options.group}}">
   Open Bucket
</a>
<h3>Upload Document</h3>
<div class="upload-container">
    <input class="upload__file-input" type="file" name="files[]" multiple>
    <ul class="upload-list"></ul>
</div>

<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Thumbnail</th>
        <th>v2 Thumbnail</th>
        <th>File</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Product</th>
        <th>Type</th>
        <th>Url</th>
        <th>Display</th>
        <th>Featured</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
