<div class="item-details">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>
    <dl class="item-details-list">
        <dt>Title</dt>
        <dd>{{title}}</dd>

        <dt>Thumbnail</dt>
        <dd><img src="{{thumbnail}}"></dd>

        <dt>v2 Thumbnail</dt>
        <dd><img src="{{thumbnail-v2}}"></dd>

        <dt>Filename</dt>
        <dd title="{{s3url}}">{{s3url}}</dd>

        <dt>Description</dt>
        <dd>{{description}}</dd>

        <dt>Type Title</dt>
        <dd>{{typeTitle}}</dd>

        <dt>Priority</dt>
        <dd>{{priority}}</dd>

        <dt>Product(s)</dt>
        <dd>{{products}}</dd>

        <dt>Institution Type(s)</dt>
        <dd>{{institution-types}}</dd>

        <dt>inNav--en-us</dt>
        <dd>{{inNav--en-us}}</dd>

        <dt>inNav--en-in</dt>
        <dd>{{inNav--en-in}}</dd>
        
        <dt>inNav--en-uk</dt>
        <dd>{{inNav--en-uk}}</dd>

        <dt>inNav--pt-br</dt>
        <dd>{{inNav--pt-br}}</dd>

        <dt>inNav--es</dt>
        <dd>{{inNav--es}}</dd>


        <dt>Display</dt>
        <dd>{{display}}</dd>

        <dt>Featured</dt>
        <dd>{{featured}}</dd>

        {{#eq site 'cmc'}}
            <dt>alt-en url</dt>
            <dd>{{alt--en}}</dd>
            <dt>alt-en-in url</dt>
            <dd>{{alt--en-in}}</dd>
            <dt>alt-pt-br url</dt>
            <dd>{{alt--pt-br}}</dd>
            <dt>alt-es url</dt>
            <dd>{{alt--es}}</dd>
        {{/eq}}

        <dt>Override URL</dt>
        <dd>{{override-url}}</dd>

        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt>Date Updated</dt>
        <dd>{{dateFormat updatedAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="item-details__edit-button">Edit</button>
            <button class="list-details__delete-button">Delete Metadata</button>
        </dd>

    </dl>

    <button class="item-details__back-button">Back</button>

</div>

