<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt>Filename</dt>
            <dd>{{s3url}}</dd>

            <dt><label
                for="title"
                class="required"
            >Title</label></dt>
            <dd>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{title}}"
                    required
                >
            </dd>

            <dt><label for="typeTitle">Type Title</label></dt>
            <dd>
                <input
                    type="text"
                    id="typeTitle"
                    name="typeTitle"
                    value="{{typeTitle}}"
                >
                <div class="note">leave empty for 'Case Study'</div>
            </dd>

            <dt><label
                for="description"
                class="required"
            >Description</label></dt>
            <dd>
                <textarea
                    id="description"
                    name="description"
                    required
                >{{description}}</textarea>
            </dd>

            <dt><label for="priority">Priority</label></dt>
            <dd>
                <input
                    type="number"
                    name="priority"
                    id="priority"
                    min="0"
                    max="1"
                    step="0.0001"
                    value="{{safeValue priority 0.5}}"
                >
            </dd>
            <dt><label for="thumbnail">Thumbnail</label></dt>
            <dd>
                <input
                    type="text"
                    id="thumbnail"
                    name="thumbnail"
                    value="{{thumbnail}}"
                >
            </dd>

            <dt><label for="thumbnail-v2">v2 Thumbnail</label></dt>
            <dd>
                <input
                    type="text"
                    id="thumbnail-v2"
                    name="thumbnail-v2"
                    value="{{thumbnail-v2}}"
                >
                <div class="note">https://www.campusmanagement.com/documents/images/case-studies/</div>
            </dd>

            <dt><label for="override-url">Override URL</label></dt>
            <dd>
                <input
                    type="text"
                    id="override-url"
                    name="override-url"
                    value="{{override-url}}"
                >
            </dd>

            <dt class="item-details-list__products-dt">Product(s)</dt>
            <dd class="item-details-list__products-dd">
                <ul>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-talisma-fundraising"
                            value="Talisma Fundraising"
                            {{#productChecked products 'Talisma Fundraising'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-talisma-fundraising">Talisma Fundraising</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-cnx-apply"
                            value="CampusNexus Apply"
                            {{#productChecked products 'CampusNexus Apply'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-cnx-apply">CampusNexus Apply</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-cnx-finance"
                            value="CampusNexus Finance, HR & Payroll"
                            {{#productChecked products 'CampusNexus Finance, HR & Payroll'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-cnx-finance">CampusNexus Finance, HR & Payroll</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-cnx-crm"
                            value="CampusNexus CRM"
                            {{#productChecked products 'CampusNexus CRM'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-cnx-crm">CampusNexus CRM</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-cnx-student"
                            value="CampusNexus Student"
                            {{#productChecked products 'CampusNexus Student'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-cnx-student">CampusNexus Student</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-campuslink"
                            value="CampusLink"
                            {{#productChecked products 'CampusLink'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-campuslink">CampusLink</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-smart-campus"
                            value="Smart Campus"
                            {{#productChecked products 'Smart Campus'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-smart-campus">Smart Campus</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-radius"
                            value="Radius by Campus Management"
                            {{#productChecked products 'Radius by Campus Management'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-radius">Radius by Campus Management</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-engage"
                            value="CampusNexus Engage"
                            {{#productChecked products 'CampusNexus Engage'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-engage">CampusNexus Engage</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-occupation-insight"
                            value="CampusNexus Occupation Insight"
                            {{#productChecked products 'CampusNexus Occupation Insight'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-occupation-insight">CampusNexus Occupation Insight</label>
                    </li>
                </ul>
            </dd>

            <dt class="item-details-list__inst-type-dt">Institution Type(s)</dt>
        <dd class="item-details-list__inst-type-dd">
            <ul>
                <li>
                    <input
                        type="checkbox"
                        name="institution-types[]"
                        id="inst-type-4-year-public"
                        value="4-Year Public"
                        {{#productChecked institution-types '4-Year Public'}}checked="checked"{{/productChecked}}
                    >
                    <label for="inst-type-4-year-public">4-Year Public</label>
                </li>
                <li>
                    <input
                        type="checkbox"
                        name="institution-types[]"
                        id="inst-type-4-year-private"
                        value="4-Year Private"
                        {{#productChecked institution-types '4-Year Private'}}checked="checked"{{/productChecked}}
                    >
                    <label for="inst-type-4-year-private">4-Year Private</label>
                </li>
                <li>
                    <input
                        type="checkbox"
                        name="institution-types[]"
                        id="inst-type-career-college"
                        value="Career & Technical College"
                        {{#productChecked institution-types 'Career & Technical College'}}checked="checked"{{/productChecked}}
                    >
                    <label for="inst-type-career-college">Career & Technical College</label>
                </li>
                <li>
                    <input
                        type="checkbox"
                        name="institution-types[]"
                        id="inst-type-public-community-college"
                        value="Public Community College"
                        {{#productChecked institution-types 'Public Community College'}}checked="checked"{{/productChecked}}
                    >
                    <label for="inst-type-public-community-college">Public Community College</label>
                </li>
                <li>
                    <input
                        type="checkbox"
                        name="institution-types[]"
                        id="inst-type-faith-based"
                        value="Faith-Based"
                        {{#productChecked institution-types 'Faith-Based'}}checked="checked"{{/productChecked}}
                    >
                    <label for="inst-type-faith-based">Faith-Based</label>
                </li>
            </ul>
        </dd>

            {{#eq site 'cmc'}}
                <h4 class="block mb0">Alt Lang Url for pdf entry in sitemap.xml</h4>
                <dt>
                    <label for="alt--en">alt--en url</label>
                </dt>
                <dd>
                    <input
                        type="text"
                        id="alt--en"
                        name="alt--en"
                        value="{{alt--en}}"
                    >
                </dd>
                <dt><label for="alt--pt-br">alt--pt-br url</label></dt>
                <dd>
                    <input
                        type="text"
                        id="alt--pt-br"
                        name="alt--pt-br"
                        value="{{alt--pt-br}}"
                    >
                </dd>
                <dt><label for="alt--en-in">alt--en-in url</label></dt>
                <dd>
                    <input
                        type="text"
                        id="alt--en-in"
                        name="alt--en-in"
                        value="{{alt--en-in}}"
                    >
                </dd>
                <dt><label for="alt--es">alt--es url</label></dt>
                <dd>
                    <input
                        type="text"
                        id="alt--es"
                        name="alt--es"
                        value="{{alt--es}}"
                    >
                </dd>
            {{/eq}}


            <h4 class="block mb0">Menu visibility options</h4>
            <dt>
                <label for="inNav--en-us">inNav--en-us</label>
            </dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-us"
                    id="inNav--en-us"
                    {{#if inNav--en-us}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--en-in">inNav--en-in</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-in"
                    id="inNav--en-in"
                    {{#if inNav--en-in}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--en-uk">inNav--en-uk</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-uk"
                    id="inNav--en-uk"
                    {{#if inNav--en-uk}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--pt-br">inNav--pt-br</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--pt-br"
                    id="inNav--pt-br"
                    {{#if inNav--pt-br}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--es">inNav--es</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--es"
                    id="inNav--es"
                    {{#if inNav--es}}checked="checked"{{/if}}>
            </dd>

            <dt><label for="display">Display</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="display"
                    id="display"
                    {{#if display}}checked="checked"{{/if}}>
            </dd>

            <dt><label for="featured">Featured</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="featured"
                    id="featured"
                    {{#if featured}}checked="checked"{{/if}}>
            </dd>

            <dt class="item-details-list-item-title--status">Status</dt>
            <dd class="item-details__status"></dd>
            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

