<td><img src="{{thumbnail}}"></td>
<td><img src="{{thumbnail-v2}}"></td>
<td title="{{s3url}}" class="list-detail-list-item--s3url">{{s3url}}</td>
<td title="{{title}}">{{title}}</td>
<td>{{priority}}</td>
<td title="{{products}}">{{products}}</td>
<td title="{{institution-types}}">{{institution-types}}</td>
<td title="{{override-url}}">{{override-url}}</td>
<td>{{display}}</td>
<td>{{featured}}</td>
<td class="list-detail-list-item--createdAt">{{dateFormat createdAt 'MM-DD-YYYY'}}</td>
<td><button class="list-detail-app__edit-button">Edit</button></td>
