<div class="upload-item__name-status">
    <span class="upload-item__name">{{files.0.name}}</span>
    <span class="upload-item__expires"></span>
    <span class="upload-item__status"></span>
    <button class="upload-item__renew-button">Renew Url</button>
</div>

<div class="upload-item__progress-container">
    <span class="upload-item__size">{{files.0.size}}</span>

    <div class="upload-item__progress">
        <div class="upload-item__progress__bar" style="width: 0%;"></div>
    </div>
    <button class="upload-item__start-button">Start</button>

</div>
<button class="upload-item__cancel-button">Cancel</button>
