@import 'jquery-ui/themes/base/core';
@import 'jquery-ui/themes/base/button';
@import 'jquery-ui/themes/base/draggable';
@import 'jquery-ui/themes/base/theme';
@import 'jquery-ui/themes/base/dialog';

@import 'bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'base/variables';
@import 'helpers/compass-altered/typograpy/vertical_rhythm';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/mixins';
@import 'base/reset';
@import 'base/layout';
@import 'base/typography';
@import 'helpers/mixins';

@import 'base/forms';
@import 'base/typography-mixin';
@import 'components/loading';

@import 'cmc-auth/src/login-form/login-form';


@import '../components/loginForm/login-form';
@import '../components/users/users';

@import '../components/generic-list-detail/list-detail-app';
@import '../components/s3-document-properties/s3-doclist-app';

@import 'components/admin-nav';
@import 'components/cmc-form';
@import 'components/firebase-login';

@import '../components/change-password/change-password';
@import '../components/profile-display/profile-form';

@import 'atomic/wrappers';

.consultation-reminder-table {
    @include adjust-font-size-to(8px);
    table-layout: fixed;
    width: 100%;
    td, th {
        padding: 2px;
        border: 1px solid $border-color;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.note {
    @include adjust-font-size-to(8px);
    color: $font-color-text;
}
