const config = {
    auth0: {
        issuer: '<%= data.AUTH0_ISSUER %>',
        domain: '<%= data.AUTH0_DOMAIN %>',
        endpoint: '<%= data.AUTH0_ENDPOINT %>',
        clientID: '<%= data.AUTH0_AUDIENCE %>',
    },
    domains: {
        tld: '<%= data.CORS_ORIGIN_TLD %>',
        cmc: '<%= data.CORS_ORIGIN_CMC %>',
        api: '<%= data.CORS_ORIGIN_API %>',
        admin: '<%= data.CORS_ORIGIN_ADMIN %>',
    },
    firebase: {
        2017: {
            apiKey: '<%= data.FIREBASE_2017_API_KEY %>',
            databaseURL: '<%= data.FIREBASE_2017_DATABASE_URL %>',
            authDomain: '<%= data.FIREBASE_2017_AUTH_DOMAIN   %>',
        },
        2018: {
            apiKey: '<%= data.FIREBASE_2018_API_KEY %>',
            databaseURL: '<%= data.FIREBASE_2018_DATABASE_URL %>',
            authDomain: '<%= data.FIREBASE_2018_AUTH_DOMAIN   %>',
        },
        2019: {
            apiKey: '<%= data.FIREBASE_2019_API_KEY %>',
            databaseURL: '<%= data.FIREBASE_2019_DATABASE_URL %>',
            authDomain: '<%= data.FIREBASE_2019_AUTH_DOMAIN   %>',
        },
        2020: {
            apiKey: '<%= data.FIREBASE_2020_API_KEY %>',
            databaseURL: '<%= data.FIREBASE_2020_DATABASE_URL %>',
            authDomain: '<%= data.FIREBASE_2020_AUTH_DOMAIN   %>',
        },
    },
    AWS_REGION: '<%= data.AWS_REGION %>',
    AWS_S3_BUCKET_PREFIX: '<%= data.AWS_S3_BUCKET_PREFIX %>',
};

export default config;
