
.email-log-list {
    li {
        padding: 0 0 1em 1em;
    }
}

.email-log-prop-list-item__title--message-id {
    display: none;
}

.email-log-list-item__prop-list {
    @include clearfix;
    border: 0;
    margin: 0;
    padding: 0;
    dt {
        font-weight: 400;
        float: left;
        clear: left;
        min-width: 150px;
        margin-right: 1em;
    }
    dd {
        font-weight: 300;
        display: block;
        float: left;
    }
}

.email-log-list-item__prop-list .email-log-prop-list-item__content--message-id {
    font-weight: 400;
}

.email-log-list-item__events-list {
    li {
        @include adjust-font-size-to(14px);
        margin: 0;
        padding: 0;
    }
    em {
        font-style: italic;
    }
}

.email-log-list-container {
    margin-left: 1em;
}
