.item-details {
    h3 {
        @include primary-header;
        @include adjust-font-size-to(22px, 1);
        @media (max-width: $screen-sm-min) {
            width: auto;
        }
    }

    h4 {
        @include primary-header;
        @include adjust-font-size-to(18px, 1);
        @media (max-width: $screen-sm-min) {
            width: auto;
        }
    }
}

.item-details-list {
    @include clearfix;
    border-bottom: 1px solid $border-color;
    padding-bottom: rhythm(1);
    margin-bottom: rhythm(1);
    dt {
        font-weight: 400;
        float: left;
        clear: left;
        min-width: 150px;
        margin-right: 1em;
    }
    dd {
        font-weight: 300;
        display: block;
        float: left;
        width: calc(100% - #{150px + $base-line-height * 2});
        text-overflow: ellipsis;
    }
}

dd.item-details-list-item--has-dropdown {
    overflow: visible;
}

.item-details__status {
    margin-left: 1em;
}

.item-details__status--error {
    color: $font-color-error;
    margin-left: 1em;
}

.item-details-list--edit {
    dt {
        font-weight: 300;
    }
    dd {
        // width: calc(75% - 150px)
    }
}

.item-details-list-item-title--actions {
    visibility: hidden;
    & + dd {
        text-align: right;
    }
}

.item-details-list-item-title--status {
    visibility: hidden;
}
