@import 'list-detail__item-detail';
@import 'email-log-list';

.app-container--list-detail {
    position: relative;
}

.list-detail-app__title {
    @include primary-header;
    width: auto;
    @media (min-width: $screen-sm-min) {
        width: auto;
    }
}

.list-detail-app__item-table {
    table-layout: fixed;
    width: 100%;

    th {
        @include adjust-font-size-to(14px, 0.5);
        background-color: $cmc-blue-light;
        color: $button-bg-color;
        padding: rhythm(0.5);
        font-weight: 300;

        &:nth-of-type(1) {
            border-left: 1px solid $cmc-blue-light;
        }
        &:nth-last-of-type(1) {
            border-right: 1px solid $cmc-blue-light;
        }
    }

    td {
        @include adjust-font-size-to(12px, 0.5);
        border: 1px solid $border-color;
        padding: rhythm(0.5);
        font-weight: 300;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    tr:nth-of-type(1) {
        td {
            border-top: 0;
        }
    }
    thead tr:nth-child(2) th {
        // access - "pc" and "admin"
        border: 0;
        text-align: center;
        padding: rhythm(0.25);
    }

    thead tr:nth-child(1) th:nth-child(4) {
        // "access"
        text-align: center;
        padding: rhythm(0.25);
    }
    td:nth-child(5),
    td:nth-child(4) {
        // checkmarks
        padding: rhythm(0.25);
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: $border-color-light;
    }
}

.list-detail-app__edit-button {
    text-indent: 30px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 20px;
    height: 20px;
    display: block;
    margin: auto;
    background: 0;
    border: 0;
    cursor: pointer;
    &:after {
        content: '';
        background: transparent url('/images/Magnifying_glass_icon.svg') no-repeat right top;
        background-size: contain;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
    }
}

.item-details__back-button,
.item-details__save-button,
.item-details__delete-button,
[type=button].analyst-form__availability-add-btn,
.cmc-form [type=button].item-details__delete-button {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    background: $button-bg-color;
    box-shadow: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family-base;
    font-weight: 400;
    color: $font-color-text;
    font-size: $button-font-size;
    padding: 0.25em 0.5em;
    margin: 0;
    line-height: 1;
    display: inline-block;
    &[disabled] {
        opacity: 0.5;
    }
}

.list-detail-app__item-table--404-errors,
.list-detail-app__item-table--js-errors {
    td {
        max-width: 33%;
        overflow: hidden;
    }
    col.item-table-col--date {
        width: 85px;
    }
    col.item-table-col--actions {
        width: 45px;
    }
    col.item-table-col--ip {
        width: 100px;
    }
}
