<h2 class="list-detail-app__title">Users</h2>
<table class="list-detail-app__item-table">
    <colgroup>
        <col class="users-app-col--name">
        <col class="users-app-col--email">
        <col class="users-app-col--institution">
        <col span="2" class="users-app-col--access">
        <col class="users-app-col--created">
        <col class="users-app-col--last-login">
        <col class="users-app-col--actions">
    </colgroup>
    <thead>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">Email</th>
            <th rowspan="2">Institution</th>
            <th rowspan="1" colspan="2"  scope="colgroup">Access</th>
            <th rowspan="2">Created</th>
            <th rowspan="2">Last Login</th>
            <th rowspan="2">Actions</th>
        </tr>
    <tr>
        <th>PC</th>
        <th>Admin</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
