<div class="item-details item-details--user">
    <h2 class="list-detail-app__title">User Details</h2>

    <h3>Account Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>User ID</dt>
        <dd>{{user_id}}</dd>
        <dt>Blocked</dt>
        <dd>{{#if blocked}}
            <span class="user-details__blocked">Blocked</span>
            <button class="user-detail__block-button">Unblock</button>
        {{else}}
            Not Blocked
            <button class="user-detail__block-button">Block</button>
        {{/if}}</dd>
        <dt>Email</dt>
        <dd>
            <div class="users-app-row-item__email {{#if email_verified}}users-app-row-item__email--verified{{/if}}">{{email}}</div>
        </dd>
        <dt>Name on Account</dt>
        <dd>{{name}}</dd>
        <dt>Last IP</dt>
        <dd>{{last_ip}}</dd>
        <dt>Number of Logins</dt>
        <dd>{{logins_count}}</dd>
        <dt>Last Login</dt>
        <dd>{{dateFormat last_login 'MMM D, YYYY hh:mm A'}}</dd>
        <dt>Created</dt>
        <dd>{{dateFormat created_at 'MMM D, YYYY hh:mm A'}}</dd>
        <dt>Updated</dt>
        <dd>{{dateFormat updated_at 'MMM D, YYYY hh:mm A'}}</dd>
        <dt>Last Password Reset</dt>
        <dd>{{dateFormat last_password_reset 'MMM D, YYYY hh:mm A'}}</dd>
    </dl>
    <h3>Profile Info</h3>
    <dl class="item-details-list item-details-list--profile-info">
        <dt>Name</dt>
        <dd>{{user_metadata.firstName}} {{user_metadata.lastName}}</dd>
        <dt>Institution</dt>
        <dd>{{user_metadata.institution}}</dd>
        <dt>Phone</dt>
        <dd>{{user_metadata.phone}}</dd>
        <dt>Job Title</dt>
        <dd>{{user_metadata.jobTitle}}</dd>
        <dt>Country</dt>
        <dd>{{user_metadata.country}}</dd>
    </dl>
    <h3>Access Info</h3>
    <dl class="item-details-list item-details-list--access-info">
        <dt>Product Center Access</dt>
        <dd data-permission="product-center">
            {{#hasRole "product-center"}}
                <div class="users-app-row-item__pc-access users-app-row-item__pc-access--has">Has PC Access</div>
                <button class="user-detail__remove-permission-button">Remove Product Center Access</button>
            {{else}}
                <div class="users-app-row-item__pc-access users-app-row-item__pc-access--none">No PC Access</div>
                <button class="user-detail__add-permission-button">Add Product Center Access</button>
            {{/hasRole}}
        </dd>
        <dt>Admin Rights</dt>
        <dd data-permission="admin">
            {{#hasRole "admin"}}
                <div class="users-app-row-item__admin-access users-app-row-item__admin-access--has">Has Admin Access</div>
                <button class="user-detail__remove-permission-button">Remove Admin Access</button>
            {{else}}
                <div class="users-app-row-item__admin-access users-app-row-item__admin-access--none">No Admin Access</div>
                <button class="user-detail__add-permission-button">Add Admin Access</button>
            {{/hasRole}}
        </dd>
    </dl>
    <h3>Request Access Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
