<td>{{user_metadata.firstName}} {{user_metadata.lastName}}</td>
<td>
    <div class="users-app-row-item__email {{#if email_verified}}users-app-row-item__email--verified{{/if}}">{{email}}</div>
</td>
<td>{{user_metadata.institution}}</td>
<td>
    {{#hasRole "product-center"}}
        <div class="users-app-row-item__pc-access users-app-row-item__pc-access--has">Has PC Access</div>
    {{else}}
        <div class="users-app-row-item__pc-access">No PC Access</div>
    {{/hasRole}}
</td>
<td>
    {{#hasRole "admin"}}
        <div class="users-app-row-item__admin-access users-app-row-item__admin-access--has">Has Admin Access</div>
    {{else}}
        <div class="users-app-row-item__admin-access">No Admin Access</div>
    {{/hasRole}}
</td>
<td>{{dateFormat created_at 'MMM DD, YYYY'}}</td>
<td>{{dateFormat last-login 'MMM DD, YYYY'}}</td>
<td><button class="list-detail-app__edit-button">Edit</button></td>



