<td>{{salutation}} {{firstName}} {{lastName}}</td>
<td>{{email}}</td>
<td>{{phone}}</td>
<td>{{jobTitle}}</td>
<td>{{institution}}</td>
<td>{{institutionType}}</td>
<td>{{message}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>

