$input-focus-border-color: #000000;
$input-bg-color: #FFFFFF;

%input {
    @include adjust-font-size-to(11px, 1);
    display: inline-block;
    width: 100%;
    margin: 0;
    line-height: normal;
    padding: 3px;
    border: 1px solid $border-color;
    &:focus {
        border: 1px dotted $input-focus-border-color;
    }
    &.error {
        border: 1px dotted $font-color-error;
    }
}

%textarea {
    height: rhythm(3, $base-font-size, 3);
    margin-top: 2px;
    margin-bottom: 1px;
    appearance: none;
    display: block;
}

%radio-or-checkbox {
    width: auto;
    margin: 0.25em;
    display: inline;
    vertical-align: text-bottom;
}

%input-button {
    width: auto;
    padding: 0 1em;
    line-height: 2em;
    float: right;
    appearance: none;
    border-radius: 0;
    background: $input-bg-color;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
