main {
    display: flex;
    flex-direction: column;
}

.layout__wrapper--top-section-contents {
    flex: 1 1 auto;
    margin: 10px;
    min-height: rhythm(1);
}

.layout__wrapper--lower-contents {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.layout__wrapper--body-contents {
    flex-grow: 1;
    margin: 10px;
}

.layout__wrapper--left-contents {
    flex: 0 0 175px;
}
