@import '../helpers/compass-altered/reset/utilities';

@include global-reset();

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

main:focus {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
}
