@mixin app-sub-title {
    @include adjust-font-size-to(14px, 0.75);
    text-align: center;
    color: $font-color-text-dark;
    margin-bottom: rhythm(1);
    @media (min-width: $screen-sm-min) {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin app-title {
    @include secondary-header;
    text-align: center;
    margin-bottom: rhythm(1);
    + .app__sub-title {
        margin-top: - rhythm(0.5);
    }
    @media (min-width: $screen-sm-min) {
        display: block;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }
}

@mixin primary-header($font-size: 25px, $lines:1) {
    @include adjust-font-size-to($font-size, $lines);
    margin: 0;
    padding-bottom: rhythm(0.25);
    color: $theme-secondary;
    font-weight: 400;
    @media (min-width: $screen-sm-min) {
        width: 65%;
    }
}

@mixin secondary-header($font-size: 38px, $lines:1.5, $font-size-bigger:null, $lines-bigger:null) {
    @include adjust-font-size-to($font-size, $lines);
    color: $font-color-link;
    font-weight: 400;
    margin: 0;
    @if $font-size-bigger != null {
        @media (min-width: $screen-sm-min) {
            @include adjust-font-size-to($font-size-bigger, $lines-bigger);
        }
    }
    @include secondary-font();
}

@mixin primary-font($unloaded-letter-spacing: inherit) {
    font-family: $font-family-base;
    font-weight: 300;
    letter-spacing: $unloaded-letter-spacing;
    .font-loaded--primary & {
        letter-spacing: inherit;
        font-family: $font-family-primary;
    }
}

@mixin primary-font-400($unloaded-letter-spacing: inherit) {
    font-family: $font-family-base;
    font-weight: 400;
    letter-spacing: $unloaded-letter-spacing;
    .font-loaded--primary-400 & {
        letter-spacing: inherit;
        font-family: $font-family-primary;
    }
}

@mixin secondary-font($unloaded-letter-spacing: -1.5px) {
    font-family: $font-family-base;
    letter-spacing: $unloaded-letter-spacing;
    .font-loaded--secondary & {
        letter-spacing: inherit;
        font-family: $font-family-secondary;
    }
}
