@include establish-baseline;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

body {
    font-family: $font-family-base;
    font-weight: 300;
    color: $font-color-text;
}

.dl--normal {
    @include clearfix();
    margin-bottom: rhythm(1);
    white-space: nowrap;
    dt {
        float: left;
        clear: left;
        display: inline-block;
        font-weight: 400;
        margin-right: 0.5em;
    }
    dd {
        float: left;
        display: inline-block;
        font-weight: 300;
        margin-right: rhythm(0.75);
    }
}
