$base-font-size: 16px;
$base-line-height: 26px;
$font-family-base: 'Open Sans', sans-serif;
$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;
$font-color-text: #676767;
$font-color-text-dark: #333333;
$font-color-link: #0000EE;
$font-color-error: #FF0000;
$font-color-icon: #FFFFFF;
$selection-text-color: #FFFFFF;

$grid-gutter-width: 26px;

$cmc-blue-light: #3377B5;
$cmc-blue-dark: #1A5A95;
$cmc-orange: #DC932F;
$cmc-blue-lighter: #318ADB;
$cmc-grey: #E6E6E6;

$button-font-size: 14px;
$button-bg-color: #FFFFFF;
$button-gradient-stop2: #EEEEEE;
$button-green-stop1: #85B634;
$button-green-stop2: #749E2E;

$border-color: #CACACA;
$border-color-light: #F4F4F4;
$rhythm-unit: 'rem';

$left-nav-menu-z-index: 900;

$theme-secondary: $cmc-orange;

$screen-sm-min: 768px;

$theme-tertiary: #FF0000;

// appease the imports
@mixin svg-orange-arrow-26px-dims() {
}

@mixin svg-menu-chevron-right-white-dims() {
}

%svg-orange-arrow-26px {
    color: $theme-tertiary;
}

%svg-menu-chevron-right-white {
    color: $theme-tertiary;
}
