---
# <!-- @formatter:off -->
title: Register Show Download
label: Reg Show Dl
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--register-show-download.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-label="Register Show Download"
         data-apiFolder="register-show-download">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


