<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt><label for="username" class="required">Username</label></dt>
            <dd><input type="text" id="username" name="username" value="{{username}}" required></dd>

            <dt><label for="password" class="required">Password</label></dt>
            <dd><input type="text" id="password" name="password" value="{{password}}" required></dd>

            <dt>Roles(s)</dt>
            <dd>
                <ul>
                    <li>
                        <input type="checkbox"
                               name="roles[]"
                               id="role-legal-docs"
                               value="legal-docs"
                               data-parsley-required="true" data-parsley-mincheck="1"
                               data-parsley-errors-container=".poi-errors"
                               {{#productChecked roles 'legal-docs'}}checked="checked"{{/productChecked}}
                        >
                        <label for="role-legal-docs">legal-docs</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="roles[]"
                               id="role-sign-excel"
                               value="sign-excel"
                               {{#productChecked roles 'sign-excel'}}checked="checked"{{/productChecked}}
                        >
                        <label for="role-sign-excel">Can Download Excel</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="roles[]"
                               id="role-talisma-legal-docs"
                               value="talisma-legal-docs"
                               {{#productChecked roles 'talisma-legal-docs'}}checked="checked"{{/productChecked}}
                        >
                        <label for="role-talisma-legal-docs">Talisma legal-docs</label>
                    </li>
                    <li>
                        <div class="poi-errors"></div>
                    </li>
                </ul>
            </dd>

            <dt class="item-details-list-item-title--status">Status</dt>
            <dd class="item-details__status"></dd>
            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

