<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Name</dt>
        <dd>{{id}}</dd>
        <dt>Content</dt>
        <dd>{{{content}}}</dd>
        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="item-details__edit-button">Edit</button>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <button class="item-details__back-button">Back</button>

</div>
