<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">

            <dt><label for="id" class="required">id</label></dt>
            {{#if id}}
                <dd>{{id}}</dd>
            {{else}}
                <dd><input type="text" id="id" name="id" value="{{id}}" required></dd>
            {{/if}}

            <dt><label for="content" class="required">Content</label></dt>
            <dd><textarea id="content" name="content" required>{{content}}</textarea></dd>


            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

