<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>First Name</dt>
        <dd>{{firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{lastName}}</dd>
        <dt>Title</dt>
        <dd>{{title}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Institution</dt>
        <dd>{{institution}}</dd>
        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>


    <button class="item-details__back-button">Back</button>

</div>
