<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Session</th>
        <th>Year</th>
        <th>Email</th>
        <th>Conveyed Info</th>
        <th>Materials</th>
        <th>Useful at Work</th>
        <th>User Level</th>
        <th>Overall</th>
        <th>Repeat?</th>
        <th>Comments</th>
        <th>Next Year Comments</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
<a href="{{dlUrl}}">Download xlsx</a>
