<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Session</dt>
        <dd>{{session_name}}</dd>
        <dt>Year</dt>
        <dd>{{year}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>1. The Presenter(s) conveyed information effectively.</dt>
        <dd>{{conveyed_info}}</dd>
        <dt>2. The presentation, examples, handouts, and other materials enhanced my understanding of the subject matter.</dt>
        <dd>{{materials}}</dd>
        <dt>3. The information presented will be useful to me in my work environment.</dt>
        <dd>{{useful_at_work}}</dd>
        <dt>4. Describe your level of experience with the topic presented in this session:</dt>
        <dd>{{user_experience_level}}</dd>
        <dt>5. Overall, this session could be described as:</dt>
        <dd>{{overall}}</dd>
        <dt>6. Should this topic be repeated again next year?:</dt>
        <dd>{{repeat_next_year}}</dd>
        <dt>7. Please make any additional comments on this session below:</dt>
        <dd>{{comments}}</dd>
        <dt>8. Please provide us with topics you would like to see offered in next year's sessions.</dt>
        <dd>{{topics_next_year}}</dd>


        <dt>Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <button class="item-details__back-button">Back</button>

</div>
