<td>{{session_name}}</td>
<td>{{year}}</td>
<td>{{email}}</td>
<td>{{conveyed_info}}</td>
<td>{{materials}}</td>
<td>{{useful_at_work}}</td>
<td>{{user_experience_level}}</td>
<td>{{overall}}</td>
<td>{{repeat_next_year}}</td>
<td>{{comments}}</td>
<td>{{topics_next_year}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>

