<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Company</dt>
        <dd>{{company}}</dd>
        <dt>Contact Name</dt>
        <dd>{{contact-name}}</dd>
        <dt>Contact Title</dt>
        <dd>{{contact-title}}</dd>
        <dt>Contact Email</dt>
        <dd>{{contact-email}}</dd>
        <dt>Contact Phone</dt>
        <dd>{{contact-phone}}</dd>
        <dt>Company Website</dt>
        <dd>{{company-website}}<br/><br/></dd>
        <dt>Address</dt>
        <dd>
            {{address}} <br/>
            {{city}}, {{state}}  {{zip}} <br/>
            {{country}}
            <br/><br/>
        </dd>
        <dt>Description of Services</dt>
        <dd>{{description-of-services}}<br/><br/></dd>
        <dt>Year Established</dt>
        <dd>{{year-established}}</dd>
        <dt>Total Number of Employees</dt>
        <dd>{{number-employees}}</dd>
        <dt>Ownership / Parent Company</dt>
        <dd>{{ownership}}</dd>
        <dt>Total Number of Customers</dt>
        <dd>{{number-customers}}</dd>
        <dt>Number of Higher Education Customers</dt>
        <dd>{{number-he-customers}}</dd>
        <dt>Total Number of existing Campus Management customers</dt>
        <dd>{{number-cmc-customers}}</dd>
        <dt>Proposed Partnership</dt>
        <dd>{{proposed-partnership}}</dd>
        <dt>Comments</dt>
        <dd>{{comments}}<br/><br/></dd>
        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
