<td>{{company}}</td>
<td>{{contact-name}}</td>
<td>{{contact-email}}</td>
<td>{{contact-phone}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
