.admin-nav {
    @include adjust-font-size-to(12px, 0.5);
    margin: 0;
    padding: 0;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        ul {
            margin-left: rhythm(0.5);
        }
    }
    li {

    }
    a {
        display: block;
        padding: rhythm(0.25);
        &:link, &:visited, &:hover, &:active {
            color: $font-color-text;
            text-decoration: none;
            font-weight: 300;
        }
        &:hover {
            background-color: $cmc-grey;
        }
    }

    // scss-lint:disable QualifyingElement
    a.menu-item--active-file {
        font-weight: 400;
    }
    // scss-lint:enable QualifyingElement
}
