.cmc-form {
    @include adjust-font-size-to(14px);
    @include primary-font();
    @include make-xs-column(12, 0);
    @include make-sm-column(8, 0);
    @include make-md-column(6, 0);
    @include clearfix;
    position: relative;
    margin-bottom: rhythm(1);
}

.cmc-form--centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
}

.cmc-form fieldset,
.cmc-form input,
.cmc-form select,
.cmc-form textarea {
    width: 100%;
}

.cmc-form [type=radio] + label,
.cmc-form [type=checkbox] + label {
    width: auto;
}

.cmc-form > ul > li,
.cmc-form > fieldset > ul > li {
    @include make-row();
}

.cmc-form label {
    font-weight: 300;
}

// scss-lint:disable QualifyingElement SelectorDepth
.cmc-form > ul > li > label,
.cmc-form > fieldset > ul > li > label {
    @include make-xs-column(12);
    @include make-xs-land-column(4);
}

.cmc-form > ul > li > label.long-label,
.cmc-form > fieldset > ul > li > label.long-label {
    @include make-xs-land-column(12);
    + .input-wrapper {
        @include make-xs-land-column-offset(4);
    }
}

// scss-lint:enable QualifyingElement SelectorDepth

.cmc-form .input-wrapper {
    @include make-xs-column(12);
    @include make-xs-land-column(8);
}

// scss-lint:enable QualifyingElement
.cmc-form__settings {
    display: none;
}

.cmc-form input,
.cmc-form select,
.cmc-form textarea {
    @extend %input;
    @include primary-font();
}

.cmc-form textarea {
    @extend %textarea;
}

.cmc-form [type=radio],
.cmc-form [type=checkbox] {
    @extend %radio-or-checkbox;
}

.cmc-form [type=button],
.cmc-form__submit-button {
    margin-right: $grid-gutter-width / 2;
    margin-top: rhythm(0.5);
}

.cmc-form__submit-row {
    text-align: right;
}

.cmc-form .required:after {
    content: '*';
    font-size: 10px;
    line-height: 1;
    vertical-align: super;
    color: $font-color-error;
}

// scss-lint:disable QualifyingElement
.cmc-form input[type=text],
.cmc-form input[type=email] {
    appearance: none;
}

.cmc-form span[dir='none'] br {
    display: none;
}

input[title='loginName'],
input[title^='Form ID'] {
    display: none;
}

// scss-lint:enable QualifyingElement

.cmc-form .cmc-form__item--existing-cx {
    label {
        display: inline-block;
        width: auto;
        float: none;
        max-width: 85%;
        vertical-align: middle;
    }
    .input-wrapper {
        display: inline-block;
        width: auto;
        float: none;
        padding-left: 0;
    }
}

.cmc-form .cmc-form {
    @include make-xs-column(12);
    margin-top: 0;
}

.cmc-form {
    width: auto;
    float: none;
    max-width: 750px;
}

[type='datetime-local']:invalid {
    border-color: red;
    box-shadow: inset 0 0 10px #FF0000;
}
