<ul>
    {{#each files}}
        {{#if show-in-quick-launch}}
            <li class="file">
                <a href="{{href}}#" class="menu-item {{activeMenuItemClass this}}">
                    <span class="menu-item-text">{{label}}</span>
                </a>
                {{#if files}}
                    {{>admin-nav-content this}}
                {{/if}}
            </li>
        {{/if}}
    {{/each}}
</ul>
