@import '../base/variables';
@import '../helpers/compass-altered/typograpy/vertical_rhythm';
@import '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shCore.min.css';
@import '//cdnjs.cloudflare.com/ajax/libs/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css';

.syntaxhighlighter {
    font-size: 12px !important;
}

.source-code-label-button {
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 300;
    color: $font-color-text;
    cursor: pointer;
    text-decoration: underline;
    text-align: left;
}

.source-code-wrapper {
    display: none;
}

.source-code-wrapper--visible {
    display: block;
}

.error-stack-row .source-code-label-button {
    display: block;
    text-decoration: none;
}

.error-stack-row {
    padding-left: rhythm(1);
    padding-bottom: rhythm(0.5);
}
