<div class="email-log-list-container">
    <h4>Email To Admin</h4>
    <ul class="email-log-list email-log-list--admin"></ul>
    <button class="email-log-list-group__refresh-button">Refresh</button>
</div>
