<td>{{name}}</td>
<td>{{title}}</td>
<td>{{institution}}</td>
<td>{{phone}}</td>
<td>{{email}}</td>
<td>{{cannot-attend}}</td>
<td>{{topics}}</td>
<td>{{diet-comments}}</td>

<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
