<div class="layout__wrapper--top-section-contents">
    <div class="login-form-container"></div>
    {{{block "top"}}}
</div>

<div class="layout__wrapper--lower-contents">
    <div class="layout__wrapper--left-contents">
            {{{block "left"}}}
    </div>
    <div class="layout__wrapper--body-contents">
            {{{block "body"}}}
    </div>


</div>
