@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import '../../styles/base/variables';
@import '../../styles/helpers/compass-altered/typograpy/vertical_rhythm';

#CiAppMountPoint {
    .react-grid-Container {
        font-size: 0.75rem;
        line-height: normal;
    }

    .react-grid-Cell {
        padding-left: 0.417em;
        padding-right: 0.417em;
    }

    .foo:not(.react-grid-HeaderCell) {
        color: red;
    }

    .presenter-grid__cell--saving,
    .presenter-grid__cell--pct,
    .presenter-grid__cell--sessions,
    .presenter-grid__cell--active {
        text-align: center;
    }

    .react-grid-checkbox {
        margin: 0;
    }

    .presenter-grid__cell--active.react-grid-Cell input.editor-main {
        padding: 0;
        border: 0;
        box-shadow: none;
        width: auto;
        margin: 0 0 0 10px;
        line-height: normal;
    }

    .presenter-grid__row--error .react-grid-Cell,
    .presenter-grid__row--error .react-grid-Row:hover .react-grid-Cell {
        background-color: #D9534F;
        color: #FFFFFF;
    }

    .presenter-grid__row--busy .react-grid-Cell,
    .presenter-grid__row--busy .react-grid-Row:hover .react-grid-Cell {
        background-color: #F0AD4E;
        color: #FFFFFF;
    }

    .presenter-grid__row--saved .react-grid-Cell,
    .presenter-grid__row--saved .react-grid-Row:hover .react-grid-Cell {
        background-color: #5CB85C;
        color: #FFFFFF;
    }

    .react-grid-Container {
        margin-bottom: rhythm(1);
    }

    .admin-nav--campusInsight {
        margin-bottom: rhythm(1);
        border: 1px solid #EEEEEE;
        padding: rhythm(0.5);

        .menu-item {
            color: #666666;
            font-weight: 300;
            margin: 0 rhythm(0.25);
            display: inline-block;
        }
        .menu-item--active-file {
            color: #000000;
            font-weight: 400;
        }
    }

    .Select--multi .Select-value-label {
        max-width: 225px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .item-details-list-item--has-dropdown {
        margin-bottom: rhythm(1);
    }

    .cmc-form .item-details__save-button {
        margin-bottom: rhythm(1);
    }

    .cmc-form input.warning {
        box-shadow: 0 0 5px yellow;
    }

    .react-grid-Cell:not(.editing) .react-grid-Cell__value div {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .react-grid-Grid {
        border: none;
    }

    .cmc-form--pre-conf-training,
    .cmc-form--sessions {
        max-width: 650px;
        input, select, textarea {
            @include adjust-font-size-to(14px, 0.75);
        }
        textarea {
            height: rhythm(5);
        }
        .item-details-list dt,
        .item-details-list dd {
            margin-bottom: rhythm(0.75);
        }
    }

    .analyst-form__availability-dt,
    .analyst-form__availability-dd {
        margin-top: rhythm(1);
    }

    .analyst-form__availability-dd {
        .react-grid-Container {
            margin-bottom: 0;
        }
        [type=button].analyst-form__availability-add-btn {
            margin-top: rhythm(0.5);
        }
    }

    [type=button].time-grid__remove-row-btn {
        width: 25px;
        height: 25px;
        padding: 5px;
        text-indent: 20px;
        overflow: hidden;
        background: transparent url('/images/close.svg') no-repeat 50% 50%;
        background-size: contain;
        background-origin: content-box;
        cursor: pointer;
        border: 0;
        margin: 0;
    }

    .time-grid__remove-button-wrapper {
        text-align: center;
    }
}
