<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Title</dt>
        <dd>{{title}}</dd>
        <dt>Thumbnail</dt>
        <dd><img src="{{thumbnail}}"></dd>
        <dt>Description</dt>
        <dd>{{{description}}}</dd>
        <dt>Type</dt>
        <dd>{{type}}</dd>
        <dt>Display</dt>
        <dd>{{display}}</dd>
        <dt>Priority</dt>
        <dd>{{priority}}</dd>
        <dt>Date</dt>
        <dd>{{date}}</dd>
        <dt>Display Date</dt>
        <dd>{{displayDate}}</dd>
        <dt>On-Demand URL</dt>
        <dd>{{onDemandUrl}}</dd>
        <dt>Upcoming URL</dt>
        <dd>{{upcomingUrl}}</dd>
        <dt>inNav--en-us</dt>
        <dd>{{inNav--en-us}}</dd>

        <dt>inNav--en-in</dt>
        <dd>{{inNav--en-in}}</dd>
        
        <dt>inNav--en-uk</dt>
        <dd>{{inNav--en-uk}}</dd>

        <dt>inNav--pt-br</dt>
        <dd>{{inNav--pt-br}}</dd>

        <dt>inNav--es</dt>
        <dd>{{inNav--es}}</dd>

        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--status">Status</dt>
        <dd class="item-details__status"></dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="item-details__edit-button">Edit</button>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>


    <button class="item-details__back-button">Back</button>

</div>
