<td><img src="{{thumbnail}}"></td>
<td>{{title}}</td>
<td>{{description}}</td>
<td>{{type}}</td>
<td>{{display}}</td>
<td>{{dateFormat date 'MMM DD, YYYY hh:mm a'}}</td>
<td>{{displayDate}}</td>
<td>{{priority}}</td>
<td>{{onDemandUrl}}</td>
<td>{{upcomingUrl}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
