<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt><label
                for="title"
                class="required"
            >Title</label></dt>
            <dd>
                <input
                    type="text"
                    id="title"
                    name="title"
                    value="{{title}}"
                    required
                >
            </dd>

            <dt><label
                for="description"
            >Description</label></dt>
            <dd>
                <textarea
                    id="description"
                    name="description"
                    >{{description}}</textarea>
                <div class="note">HTML text added to &lt;p&gt;. Adding a block level element will close it.</div>
            </dd>

            <dt><label for="thumbnail">Thumbnail</label></dt>
            <dd>
                <input
                    type="text"
                    id="thumbnail"
                    name="thumbnail"
                    value="{{thumbnail}}"
                >
            </dd>

            <dt><label
                for="type"
                class="required"
            >Type</label></dt>
            <dd>
                <ul>
                    <li>
                        <input
                            type="radio"
                            name="type"
                            id="type-on-demand"
                            value="on-demand"
                            {{#productChecked type 'on-demand'}}checked="checked"{{/productChecked}}
                            required
                        >
                        <label for="type-on-demand">On Demand</label>
                    </li>
                    <li>
                        <input
                            type="radio"
                            name="type"
                            id="type-upcoming"
                            value="upcoming"
                            {{#productChecked type 'upcoming'}}checked="checked"{{/productChecked}}
                            required
                        >
                        <label for="type-upcoming">Upcoming</label>
                    </li>
                </ul>
            </dd>

            <dt><label
                for="date"
            >Upcoming Date</label></dt>
            <dd>
                <input
                    type="datetime-local"
                    id="date"
                    name="date"
                    value="{{dateFormat date 'YYYY-MM-DDTHH:mm:ssz'}}"
                />
            </dd>

            <dt><label
                for="displayDate"
            >Upcoming Display Date</label></dt>
            <dd>
                <input
                    type="text"
                    id="displayDate"
                    name="displayDate"
                    value="{{displayDate}}"
                />
            </dd>

            <dt><label
                for="buttonText"
            >Button Text</label></dt>
            <dd>
                <input
                    type="text"
                    id="buttonText"
                    name="buttonText"
                    value="{{buttonText}}"
                    placeholder="Defaults to &quot;View&quot; or &quot;Register&quot;"
                />
            </dd>

            <dt class="item-details-list__products-dt">Product(s)</dt>
            <dd class="item-details-list__products-dd">
                <ul>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-academic-delivery"
                            value="Academic Delivery"
                            {{#productChecked products 'Academic Delivery'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-academic-delivery">Academic Delivery</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-student-success"
                            value="Student Success"
                            {{#productChecked products 'Student Success'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-student-success">Student Success</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-operational-efficiency"
                            value="Operational Efficiency"
                            {{#productChecked products 'Operational Efficiency'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-operational-efficiency">Operational Efficiency</label>
                    </li>
                    <li>
                        <input
                            type="checkbox"
                            name="products[]"
                            id="product-technology"
                            value="Technology"
                            {{#productChecked products 'Technology'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-technology">Technology</label>
                    </li>
                    <li>
                        <input
                                type="checkbox"
                                name="products[]"
                                id="product-workforce-analytics"
                                value="Workforce Analytics"
                                {{#productChecked products 'Workforce Analytics'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-workforce-analytics">Workforce Analytics</label>
                    </li>
                </ul>
            </dd>

            <dt><label for="onDemandUrl">On Demand URL</label></dt>
            <dd>
                <input
                    type="text"
                    id="onDemandUrl"
                    name="onDemandUrl"
                    value="{{onDemandUrl}}"
                >
            </dd>

            <dt><label for="upcomingUrl">Upcoming URL</label></dt>
            <dd>
                <input
                    type="text"
                    id="upcomingUrl"
                    name="upcomingUrl"
                    value="{{upcomingUrl}}"
                >
            </dd>

            <dt><label for="priority">Priority</label></dt>
            <dd>
                <input
                    type="number"
                    name="priority"
                    id="priority"
                    min="0"
                    max="1"
                    step="0.0001"
                    value="{{safeValue priority 0.5}}"
                >
            </dd>

            <h4 class="block mb0">Menu visibility options</h4>
            <dt>
                <label for="inNav--en-us">inNav--en-us</label>
            </dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-us"
                    id="inNav--en-us"
                    {{#if inNav--en-us}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--en-in">inNav--en-in</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-in"
                    id="inNav--en-in"
                    {{#if inNav--en-in}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--en-uk">inNav--en-uk</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--en-uk"
                    id="inNav--en-uk"
                    {{#if inNav--en-uk}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--pt-br">inNav--pt-br</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--pt-br"
                    id="inNav--pt-br"
                    {{#if inNav--pt-br}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="inNav--es">inNav--es</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="inNav--es"
                    id="inNav--es"
                    {{#if inNav--es}}checked="checked"{{/if}}>
            </dd>
            <dt><label for="display">Display</label></dt>
            <dd>
                <input
                    type="checkbox"
                    value="true"
                    name="display"
                    id="display"
                    {{#if display}}checked="checked"{{/if}}>
            </dd>

            <dt class="item-details-list-item-title--status">Status</dt>
            <dd class="item-details__status"></dd>
            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

