<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Institution</th>
            <th>Will Golf</th>
            <th>Needs Clubs</th>
            <th>Needs Shoes</th>
            <th>Shoe Size</th>
            <th>Golf Msg</th>
            <th>Will Dinner</th>
            <th>Dinner Message</th>
            <th>Will Executive Program</th>
            <th>Will Client Event</th>

            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
<a href="{{dlUrl}}">Download xlsx</a>
