<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>First Name</dt>
        <dd>{{firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{lastName}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Institution</dt>
        <dd>{{institution}}<br /><br /></dd>


        <dt>Will Golf?</dt>
        <dd>{{will-golf}}</dd>
        <dt>Needs Golf Clubs</dt>
        <dd>{{needs-golf-clubs}}</dd>
        <dt>Needs Golf Shoes</dt>
        <dd>{{needs-golf-shoes}}</dd>
        <dt>Shoe Size</dt>
        <dd>{{shoe-size}}</dd>
        <dt>Golf Special Needs Message</dt>
        <dd><p>{{golf-special-needs-message}}</p><br /></dd>


        <dt>Will Attend Executive Dinner</dt>
        <dd>{{will-executive-dinner}}</dd>
        <dt>Food Allergies/Dietary Requests Message</dt>
        <dd><p>{{executive-dinner-special-message}}</p><br /></dd>

        <dt>Will Attend Executive Program</dt>
        <dd>{{will-executive-program}}</dd>
        <dt>Will Attend Client Event</dt>
        <dd>{{will-client-event}}<br /><br /></dd>

        <dt>Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
