<td>{{firstName}} {{lastName}}</td>
<td>{{email}}</td>
<td>{{institution}}</td>

<td>{{will-golf}}</td>
<td>{{needs-golf-clubs}}</td>
<td>{{needs-golf-shoes}}</td>
<td>{{shoe-size}}</td>
<td>{{golf-special-needs-message}}</td>
<td>{{will-executive-dinner}}</td>
<td>{{executive-dinner-special-message}}</td>
<td>{{will-executive-program}}</td>
<td>{{will-client-event}}</td>


<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
