<div id="dialog-confirm" title="Delete Item">
    <p>
        <span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>
        The item will be permanently deleted and cannot be recovered. Are you sure?
    </p>
</div>
