{{#each this}}
    <li>
        <dl class="email-log-list-item__prop-list">
            <dt class="email-log-prop-list-item__title email-log-prop-list-item__title--message-id">Message ID</dt>
            <dd class="email-log-prop-list-item__content email-log-prop-list-item__content--message-id">{{@key}}</dd>
            <dt>Subject</dt>
            <dd>{{this.0.subject}}</dd>
            <dt>Recipient</dt>
            <dd>{{this.0.recipient}}</dd>
            <dt>Events</dt>
            <dd>
                <ul class="email-log-list-item__events-list">
                    {{#each this}}
                        <li>
                            <p>
                                {{dateFormat createdAt 'MM/DD/YYYY hh:mm A'}}:
                                <em>{{safeValue event "n/a"}}</em>
                            </p>
                        </li>
                    {{/each}}
                </ul>
            </dd>
        </dl>
    </li>
{{/each}}
