---
# <!-- @formatter:off -->
title: Files - Case Studies
label: CMC - EN-US
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--s3-document-properties.js
    inline: true
#<!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--s3-list" id="s3DocsApp"
         data-site="cmc"
         data-group="en-us"
         data-apiFolder="case-studies"
         data-label="Case Studies - CMC EN-US">
    <div class="loading--placeholder">Loading...</div>
</section>

{{/content}}
{{/extend}}

