<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Description</th>
        <th>Type</th>
        <th>Display</th>
        <th>Date</th>
        <th>Display Date</th>
        <th>Priority</th>
        <th>URL</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>

<button class="list-detail-app__add-button">New</button>
