<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Company</th>
        <th>Contact Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
        <th>Level</th>
        <th>Booth</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
