<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Company</dt>
        <dd>{{sponsor-name}}</dd>
        <dt>Contact Name</dt>
        <dd>{{contact-name}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Phone</dt>
        <dd>{{phone}}</dd>
        <dt>Website</dt>
        <dd>{{website}}</dd>
        <dt>Level</dt>
        <dd>{{level}}</dd>
        <dt>Booth</dt>
        <dd>{{booth}}
            <br /><br />
        </dd>
        <dt>Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="item-details__edit-button">Edit</button>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
