<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt>Company</dt>
            <dd>{{sponsor-name}}</dd>
            <dt>Contact Name</dt>
            <dd>{{contact-name}}</dd>
            <dt>Email</dt>
            <dd>{{email}}</dd>
            <dt>Phone</dt>
            <dd>{{phone}}</dd>
            <dt>Website</dt>
            <dd>{{website}}</dd>
            <dt>Level</dt>
            <dd>{{level}}</dd>
            <dt>Booth</dt>
            <dd>
                <input type="text" id="booth" name="booth" value="{{booth}}" />
                <br /><br />
            </dd>

            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

