<td>{{sponsor-name}}</td>
<td>{{contact-name}}</td>
<td>{{email}}</td>
<td>{{phone}}</td>
<td>{{website}}</td>
<td>{{level}}</td>
<td>{{booth}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
