.product-center-login-form p:last-child {
    text-align: center;
}

.login-form__signout-btn {
    @include cmc-button($button-bg-color, $button-gradient-stop2);
    display: block;
}

.login-form--logged-in__username {
    display: inline-block;
}

.login-form__signout-btn {
    display: inline-block;
    margin-left: rhythm(1);
}

.login-form-container {
    text-align: right;
    position: relative;
    min-height: rhythm(1);
}

.login-form .login-form__email-field,
.login-form .login-form__password-field {
    @include adjust-font-size-to(16px);
    color: $font-color-text;
    background-color: $button-bg-color;
    background-image: none;
    border: 1px solid $border-color-light;
    margin-bottom: rhythm(1);
    padding: 3px 6px;
}

.login-form {
    border-color: $border-color;
    padding: rhythm(1);
    width: 350px;
}

.login-form p:last-child {
    text-align: right;
}

.login-form-container--loading .login-form {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: rgba(0, 0, 0, 0.25);
        z-index: 1;
    }
    &:before {
        z-index: 2;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: transparent url('/images/ui/sprite_loading_v2.gif') no-repeat 50% 50%;
    }
}

.refresh-btn {
    @include cmc-button($button-bg-color, $button-gradient-stop2);
    display: block;
}
