---
# <!-- @formatter:off -->
title: Campus Management Corp - Change Password
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--password-reset.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top"}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="change-password-form-container">
        <p>Forgot Your Password?</p>
        <p>Passwords are managed by our authentication provider Auth0. Please click the button below to receive email
            instructions on changing your password.</p>
        <form class="cmc-form cmc-form--change-password">
            <fieldset>
                <ul>
                    <li>
                        <label for="email">Email</label>
                        <div class="input-wrapper">
                            <input type="email" id="email" name="email"
                                   value=""
                                   required>
                        </div>
                    </li>
                    <li>
                        <p class="change-password-form__error"></p>
                        <button class="change-password-form__submit-btn">Send Password Reset Email</button>
                        <button class="change-password-form__cancel-btn">Cancel</button>
                    </li>
                </ul>
            </fieldset>
        </form>
    </div>
</div>
{{/content}}
{{/extend}}
