---
# <!-- @formatter:off -->
title:    Campus Management Corp.
layout: admin.hbs
pageCssClass: page--login
additional-scripts:
  - src: /scripts/page--login.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/page--login.css
    inline: true
# <!-- @formatter:on -->
---

<div class="login-form-container login-form-container--loading login-form-container--admin">

</div>

<div class="main-app"></div>
