---
# <!-- @formatter:off -->
title: Campus Management Corp - Change Password
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--profile.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top"}}
{{/content}}

{{#content "body"}}
<div class="cmc-article">
    <div class="profile-form-container">Loading...</div>
</div>
{{/content}}
{{/extend}}
