<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>First Name</dt>
        <dd>{{firstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{lastName}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Phone</dt>
        <dd>{{phone}}</dd>
        <dt>Title</dt>
        <dd>{{title}}</dd>
        <dt>Institution</dt>
        <dd>{{institution}}</dd>
        <dt>Topic Suggestions</dt>
        <dd>{{message}}
            <br /><br />
        </dd>
        <dt>Topics</dt>
        <dd>
            <p>
                3: Must have to make the round table worth while<br />
                2: Great if we have time<br />
                1: Not interested<br />
                0: Not supplied<br />
            </p>
            <dl>
                <dt> Duplicate Handling</dt>
                <dd>{{duplicateHandling}}</dd>
                <dt>Issue Resolution Process</dt>
                <dd>{{issueResolutionProcess}}</dd>
                <dt>Support</dt>
                <dd>{{support}}</dd>
                <dt>Technical Issues</dt>
                <dd>{{technicalIssues}}</dd>
                <dt>Campaigns</dt>
                <dd>{{campaigns}}</dd>
                <dt>Events</dt>
                <dd>{{events}}</dd>
                <dt>Upgrades</dt>
                <dd>{{upgrades}}</dd>
                <dt>3rd Party integrations</dt>
                <dd>{{thirdPartyIntegrations}}</dd>
                <dt>Web Interface</dt>
                <dd>{{webInterface}}</dd>
                <dt>Web Interface</dt>
                <dd>{{webInterface}}</dd>
                <dt>Chat</dt>
                <dd>{{chat}}</dd>
                <dt>Filters</dt>
                <dd>{{filters}}</dd>
                <dt>Text/SMS</dt>
                <dd>{{textSms}}</dd>
                <dt>Forms Builder</dt>
                <dd>{{formsBuilder}}</dd>
            </dl>
        </dd>
        <dt>Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
