<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Name</dt>
        <dd>{{firstName}} {{lastName}}</dd>
        <dt>Email</dt>
        <dd>{{email}}</dd>
        <dt>Phone</dt>
        <dd>{{phone}}</dd>
        <dt>Institution</dt>
        <dd>{{institution}}</dd>
        <dt>Reason for Inquiry</dt>
        <dd>{{reasonForInquiry}}</dd>
        <dt>Solution</dt>
        <dd>{{solution}}</dd>
        <dt>Message</dt>
        <dd>{{message}}</dd>
        <dt>Lead Source</dt>
        <dd>{{leadSource}}</dd>
        <dt>URL</dt>
        <dd>{{url}}</dd>
        <dt>Referrer</dt>
        <dd>{{referrer}}</dd>
        <dt>UnifyObj</td>
        <dd><pre>{{{json unifyObj }}}</pre></dd>
        <dt>UnifyResult</td>
        <dd><pre>{{{json unifyResult }}}</pre></dd>
        <dt>UA Obj</dt>
        <dd><pre>{{{json navigator}}}</pre></dd>
        <dt>IP</dt>
        <dd>{{ip}}</dd>
        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--status">Status</dt>
        <dd class="item-details__status"></dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
