<div class='email-log-list-container'>
    <h4>
        Email To Admin
    </h4>
    <ul class='email-log-list email-log-list--admin'></ul>
    <h4>
        Email To Janus
    </h4>
    <ul class='email-log-list email-log-list--janus'></ul>
    <h4>
        Email To User
    </h4>
    <ul class='email-log-list email-log-list--cx'></ul>
    <button class='email-log-list-group__refresh-button'>
        Refresh
    </button>
</div>
