<td>{{firstName}} {{lastName}}</td>
<td>{{email}}</td>
<td>{{phone}}</td>
<td>{{institution}}</td>
<td>{{reasonForInquiry}}</tdt>
<td>{{solution}}</tad>
<td>{{message}}</td>
<td>{{unifyResult.status}}</td>
<td>{{group}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY HH:mm'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
