<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Institution</th>
        <th>Nominee Name</th>
        <th>Category</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
