<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Institution name</dt>
        <dd>{{institution-name}}</dd>
        <dt>Institution address</dt>
        <dd>{{institution-address}}  <br /><br /></dd>

        <dt>Award nominee contact name</dt>
        <dd>{{nominee-name}}</dd>
        <dt>Award nominee contact Title</dt>
        <dd>{{nominee-title}}</dd>
        <dt>Award nominee contact Phone</dt>
        <dd>{{nominee-phone}}</dd>
        <dt>Award nominee contact Email</dt>
        <dd>{{nominee-email}}<br /><br /></dd>

        <dt>Project Name</dt>
        <dd>{{project-name}}<br /><br /></dd>

        <dt>Team Lead name</dt>
        <dd>{{team-lead-name}}</dd>
        <dt>Team Lead title</dt>
        <dd>{{team-lead-title}}</dd>
        <dt>Team Lead phone</dt>
        <dd>{{team-lead-phone}}</dd>
        <dt>Team Lead email</dt>
        <dd>{{team-lead-email}}</dd>
        <dt>Other Team Members</dt>
        <dd>{{other-team-members}}<br /><br /></dd>

        <dt>Award Category</dt>
        <dd>{{award-category}}</dd>
        <dt>Departments, offices or disciplines the project spans</dt>
        <dd>{{departments}}<br /><br /></dd>

        <dt>
            1. Please provide an overview/summary of the scope of your project identified for the Excellence Award you
            are applying for:
        </dt>
        <dd>{{project-overview}}<br /><br /></dd>
        <dt>
            2. What strategic needs, goals and objectives did you identify for this project?
        </dt>
        <dd>{{project-needs}}<br /><br /></dd>
        <dt>
            3. What business challenge was your organization facing that necessitated or inspired this project?
        </dt>
        <dd>{{project-challenge}}<br /><br /></dd>
        <dt>
            4. What was the timeframe of the project (please list inception to completion dates)?
        </dt>
        <dd>{{project-timeframe}}<br /><br /></dd>
        <dt>
            5. Which constituents benefitted (or will benefit) from this project?
        </dt>
        <dd>{{project-who-benefit}}<br /><br /></dd>
        <dt>
            6. Which Campus Management solutions are/were involved (please specify product version or type of service)?
        </dt>
        <dd>{{project-cmc-solutions}}<br /><br /></dd>
        <dt>
            7. How did Campus Management help you achieve your goals and objectives?
        </dt>
        <dd>{{project-cmc-help}}<br /><br /></dd>
        <dt>
            8. What are the actual measurable results of this project? Are they what your team expected and intended? If
            not, how do they differ?
        </dt>
        <dd>{{project-measured}}<br /><br /></dd>

        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
