<td>{{project-name}}</td>
<td>{{institution-name}}</td>
<td>{{nominee-name}}</td>
<td>{{award-category}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
