.profile-form-container {
    position: relative;
}

.cmc-form .profile-form__cancel-btn[type=button],
.cmc-form .profile-form__submit-btn[type=button] {
    border-width: 1px;
    border-style: solid;
    border-color: $border-color;
    background: $button-bg-color;
    box-shadow: none;
    border-radius: 0.25em;
    cursor: pointer;
    text-decoration: none;
    font-family: $font-family-base;
    font-weight: 400;
    color: $font-color-text;
    font-size: $button-font-size;
    padding: 0.25em 0.5em;
    margin: 0;
    line-height: 1;
    display: inline-block;
    &[disabled] {
        opacity: 0.5;
    }
    width: auto;
}
