<dl class="profile-view dl--normal">
    <dt>First Name</dt>
    <dd>{{profileData.user_metadata.firstName}}</dd>
    <dt>Last Name</dt>
    <dd>{{profileData.user_metadata.lastName}}</dd>
    <dt>Phone</dt>
    <dd>{{profileData.user_metadata.phone}}</dd>
    <dt>Job Title</dt>
    <dd>{{profileData.user_metadata.jobTitle}}</dd>
    <dt>Institution</dt>
    <dd>{{profileData.user_metadata.institution}}</dd>
    <dt>Country</dt>
    <dd>{{profileData.user_metadata.country}}</dd>
</dl>
<p><a href="#/edit">Edit Profile</a></p>
<p><a href="/">Back To Admin</a></p>
