<p>Use the form below to edit your profileData.</p>
<form class="cmc-form cmc-form--profile">
    <fieldset>
        <ul>
            {{>form.hbs}}
            <li>
                <input type="button" class="profile-form__submit-btn" value="Submit">
                <input type="button" class="profile-form__cancel-btn" value="Cancel">
            </li>
        </ul>
    </fieldset>
</form>
<p class="profile-form__error">{{error}}</p>
