<li>
    <label for="firstName" class="required">First Name</label>
    <div class="input-wrapper">
        <input type="text" id="firstName" name="firstName"
               value="{{profileData.user_metadata.firstName}}"
               required>
    </div>
</li>
<li>
    <label for="lastName" class="required">Last Name</label>
    <div class="input-wrapper">
        <input type="text" id="lastName" name="lastName"
               value="{{profileData.user_metadata.lastName}}"
               required>
    </div>
</li>
<li>
    <label for="phone" class="required">Phone</label>
    <div class="input-wrapper">
        <input type="text" id="phone" name="phone"
               value="{{profileData.user_metadata.phone}}"
               required>
    </div>
</li>
<li>
    <label for="jobTitle">Job Title</label>
    <div class="input-wrapper">
        <input type="text" id="jobTitle" name="jobTitle"
               value="{{profileData.user_metadata.jobTitle}}"
               required>
    </div>
</li>
<li>
    <label for="institution">Institution</label>
    <div class="input-wrapper">
        <input type="text" id="institution" name="institution"
               value="{{profileData.user_metadata.institution}}"
               required>
    </div>
</li>
<li>
    <label for="country">Country</label>
    <div class="input-wrapper">
            {{>country-select name="country" id="country" required="required"}}
    </div>
</li>

