<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/admin.css">
    {{>additional-stylesheets}}
    <link rel="stylesheet" href="/styles/print.css" media="print">
    <!--<link rel="stylesheet" href="http://basehold.it/26/ff0000">-->
    <!--<link rel="stylesheet" href="/styles/vendor/baseholdit-26-ff0000.css">-->

    <!--[if IE 9]>
    <script>__isIe9 = true;</script>
    <![endif]-->
    <style>
        .page-loading main {
            display: none;
        }
        .loading--page-loading {
            display: none;
        }
        .page-loading .loading--page-loading {
            display: block;
        }
    </style>
</head>

<body class="{{pageCssClass}} page-loading">
<div class="loading--placeholder loading--page-loading">
    Loading...
</div>
<main tabindex="-1">
    {{{contents}}}
</main>
{{#isnt NODE_ENV 'production'}}
    <script src="/dll.bundle.js"></script>
{{/isnt}}

{{>scripts}}
</body>
</html>
