---
# <!-- @formatter:off -->
title: Files - Password Protected Docs
label: CMC - PPD
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--password-protected-doc.js
    inline: true
#<!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--s3-list" id="s3DocsApp"
         data-site="cmc"
         data-group="en-us"
         data-ACL="authenticated-read"
         data-apiFolder="password-protected-doc"
         data-label="Password Protected Documents">
    <div class="loading--placeholder">Loading...</div>
</section>

{{/content}}
{{/extend}}

