.change-password-form-container {
    position: relative;
}

.change-password-form__submit-btn,
.change-password-form__cancel-btn {
    @extend %input;
    @extend %input-button;
    margin-right: $grid-gutter-width/2;
    margin-top: 2px;
}

