---
# <!-- @formatter:off -->
title: Series
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--webcast-series.js
    inline: true
#<!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--s3-list" id="WebcastSeriesApp"
         data-site="cmc"
         data-group="en-us"
         data-query="type=upcoming||on-demand"
         data-apiFolder="webcast-series"
         data-label="Webcast Series">
    <div class="loading--placeholder">Loading...</div>
</section>

{{/content}}
{{/extend}}

