<h2 class="list-detail-app__title">{{label}}</h2>
<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>Analyst</th>
        <th>Start</th>
        <th>Cx Name</th>
        <th>Cx Phone</th>
        <th>Cx Email</th>
        <th>Cx Institution</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
