<div class="item-details item-details--contact-us">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>

    <dl class="item-details-list item-details-list--account-info">
        <dt>Analyst</dt>
        <dd>{{analystFirstName}} {{analystLastName}}</dd>
        <dt>Start</dt>
        <dd>{{dateFormat start 'MMM DD, YYYY hh:mm A'}}</dd>
        <dt>Customer First Name</dt>
        <dd>{{userFirstName}}</dd>
        <dt>Customer Last Name</dt>
        <dd>{{userLastName}}</dd>
        <dt>Customer Phone</dt>
        <dd>{{userPhone}}</dd>
        <dt>Customer Email</dt>
        <dd>{{userEmail}}</dd>
        <dt>Customer Institution</dt>
        <dd>{{userInstitution}}<br /><br /></dd>

        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="list-details__delete-button">delete</button>
        </dd>
    </dl>

    <h3>Email Transactions</h3>
    <div class="item-details__email-log">
        <button class="item-details__load-emails-button">Load Log</button>
    </div>

    <button class="item-details__back-button">Back</button>

</div>
