<td>{{analystFirstName}} {{analystLastName}}</td>
<td>{{dateFormat start 'MMM DD, YYYY hh:mm A'}}</td>
<td>{{userFirstName}} {{userLastName}}</td>
<td>{{userPhone}}</td>
<td>{{userEmail}}</td>
<td>{{userInstitution}}</td>
<td>{{dateFormat createdAt 'MMM DD, YYYY hh:mm A'}}</td>
<td>
    <button class="list-detail-app__edit-button">Edit</button>
</td>
