.users-app-row-item__email--verified {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    &:after {
        content: '';
        background: transparent url('/images/tick.svg') no-repeat right top;
        background-size: contain;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
    }
}

.users-app-row-item__admin-access,
.users-app-row-item__pc-access {
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    width: 25px;
    height: 25px;
    display: block;
    margin: auto;
}

.users-app-row-item__admin-access--has,
.users-app-row-item__pc-access--has {
    &:after {
        content: '';
        background: transparent url('/images/tick.svg') no-repeat right top;
        background-size: contain;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
    }
}

.item-details--user .users-app-row-item__pc-access--none,
.item-details--user .users-app-row-item__admin-access--none {
    display: block;
    float: left;
    margin-right: 1em;
    &:after {
        content: '';
        background: transparent url('/images/X_Icon.svg') no-repeat right top;
        background-size: contain;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
    }
}

.item-details--user .users-app-row-item__pc-access--has,
.item-details--user .users-app-row-item__admin-access--has {
    display: block;
    float: left;
    margin-right: 1em;
}

.item-details--user .user-detail__add-permission-button,
.item-details--user .user-detail__remove-permission-button {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.item-details-list--access-info dt {
    min-width: 175px;
}
