@import 'upload-list';

$no-matching-file-bg-color: #FFB9BA;

.app-container--s3-list {
    position: relative;
}

.list-detail-app__title--s3-list {
    margin-bottom: rhythm(1);
}

// scss-lint:disable SelectorFormat
.list-detail-list-item--createdAt {
    white-space: nowrap;
}

// scss-lint:enable SelectorFormat

.list-detail-list-item--s3url {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.s3-list__bucket-link {
    float: right;
}

// scss-lint:disable QualifyingElement

.list-detail-app__item-table tr.no-matching-file {
    background-color: $no-matching-file-bg-color;
}

// scss-lint:enable QualifyingElement

.item-details-list__products-dd,
.item-details-list__products-dt {
    margin-bottom: rhythm(1);
    margin-top: rhythm(1);
}

.item-details-list__inst-type-dd {
    margin-bottom: rhythm(1);
}
