.upload__file-input {
    margin-bottom: rhythm(1);
}

.upload-item__progress {
    border: 1px solid $border-color;
    background-color: $border-color-light;
    margin: rhythm(0.25) 0;
}

.upload-item__progress__bar {
    height: rhythm(0.5);
    background: $cmc-blue-light;
}

.upload-list {
    list-style-type: none;
}

.upload-list-item {
    border-bottom: 1px solid $border-color;
    padding: 0 0 rhythm(1);
    margin: 0 0 rhythm(1);
    opacity: 1;
    transition: opacity 1s;
    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
    }
}

.upload-item__name {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-item__cancel-button {
    float: right;
}

.upload-item__name-status {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.upload-item__name {
    display: block;
}

.upload-item__progress-container {
    display: inline-block;
}

.upload-item__size {
    display: block;
}

.upload-item__progress {
    width: rhythm(5);
}

.upload-list-item--removing {
    opacity: 0;
}

.upload-item__expires {
    @include adjust-font-size-to(14px, 0.75);
    display: block;
    &:empty {
        display: none;
    }
}

.upload-item__status {
    @include adjust-font-size-to(14px, 0.75);
    display: inline-block;
    white-space: normal;
}

.upload-item__status--success {
    color: $cmc-orange;
}

.upload-item__status--error {
    color: $font-color-error;
}

.upload-item__renew-button {
    display: none;
}

