---
# <!-- @formatter:off -->
title: Users
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--users.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--users-app" id="UsersApp">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}
