---
# <!-- @formatter:off -->
title: Password Protected Document Users
label: PPDU
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--password-protected-doc-users.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}
{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-label="Password Protected Document Users"
         data-apiFolder="password-protected-doc-user">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


