<h2 class="list-detail-app__title list-detail-app__title--s3-list">{{label}}</h2>

<h3>Upload Document</h3>
<div class="upload-container">
    <input class="upload__file-input" type="file" name="files[]" multiple>
    <ul class="upload-list"></ul>
</div>

<table class="list-detail-app__item-table">
    <thead>
    <tr>
        <th>File</th>
        <th>ID</th>
        <th>Title</th>
        <th>Priority</th>
        <th>Thumbnail</th>
        <th>Required Role</th>
        <th>Display</th>
        <th>Created</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody class="list-detail-app__item-list"></tbody>
</table>
