<div class="item-details">
    <h2 class="list-detail-app__title">{{label}} -- Item Details</h2>

    <h3>Item Info</h3>
    <dl class="item-details-list">
        <dt>ID</dt>
        <dd>{{_id}}</dd>

        <dt>Filename</dt>
        <dd title="{{s3url}}">{{s3url}}</dd>

        <dt>Title</dt>
        <dd>{{title}}</dd>

        <dt>Description</dt>
        <dd>{{description}}</dd>

        <dt>Priority</dt>
        <dd>{{priority}}</dd>

        <dt>Thumbnail</dt>
        <dd>{{thumbnail}}</dd>

        <dt>Required Role(s)</dt>
        <dd>{{roles}}</dd>

        <dt>Display</dt>
        <dd>{{display}}</dd>

        <dt>Date Created</dt>
        <dd>{{dateFormat createdAt 'MMM D, YYYY hh:mm A'}}</dd>
        <dt>Date Updated</dt>
        <dd>{{dateFormat updatedAt 'MMM D, YYYY hh:mm A'}}</dd>

        <dt class="item-details-list-item-title--actions">Actions</dt>
        <dd>
            <button class="item-details__edit-button">Edit</button>
            <button class="list-details__delete-button">delete</button>
        </dd>

    </dl>

    <button class="item-details__back-button">Back</button>

</div>

