<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt>ID</dt>
            <dd>{{_id}}</dd>

            <dt>Filename</dt>
            <dd>{{s3url}}</dd>

            <dt><label for="title" class="required">Title</label></dt>
            <dd><input type="text" id="title" name="title" value="{{title}}" required></dd>

            <dt><label for="description" class="required">Description</label></dt>
            <dd><textarea id="description" name="description" required>{{description}}</textarea></dd>

            <dt><label for="priority">Priority</label></dt>
            <dd><input type="number" name="priority" id="priority" min="0" max="1" step="0.0001"
                       value="{{safeValue priority 0.5}}"></dd>

            <dt><label for="thumbnail">Thumbnail</label></dt>
            <dd><input type="text" name="thumbnail" id="thumbnail" value="{{thumbnail}}"></dd>

            <dt>Roles(s)</dt>
            <dd>
                <ul>
                    <li>
                        <input type="checkbox"
                               name="roles[]"
                               id="role-legal-docs"
                               value="legal-docs"
                               data-parsley-required="true" data-parsley-mincheck="1"
                               data-parsley-errors-container=".poi-errors"
                               {{#productChecked roles 'legal-docs'}}checked="checked"{{/productChecked}}
                        >
                        <label for="role-legal-docs">legal-docs</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="roles[]"
                               id="role-talisma-legal-docs"
                               value="talisma-legal-docs"
                               {{#productChecked roles 'talisma-legal-docs'}}checked="checked"{{/productChecked}}
                        >
                        <label for="role-talisma-legal-docs">Talisma legal-docs</label>
                    </li>
                    <li>
                        <div class="poi-errors"></div>
                    </li>
                </ul>
            </dd>

            <dt><label for="display">Display</label></dt>
            <dd><input type="checkbox" value="true" name="display" id="display" {{#if display}}checked="checked"{{/if}}></dd>

            <dt class="item-details-list-item-title--status">Status</dt>
            <dd class="item-details__status"></dd>
            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

