<td title="{{s3url}}" class="list-detail-list-item--s3url">{{s3url}}</td>
<td>{{_id}}</td>
<td>{{title}}</td>
<td>{{priority}}</td>
<td>{{thumbnail}}</td>
<td>{{roles}}</td>
<td>{{display}}</td>
<td class="list-detail-list-item--createdAt">{{dateFormat createdAt 'MM-DD-YYYY'}}</td>
<td><button class="list-detail-app__edit-button">Edit</button></td>
