---
# <!-- @formatter:off -->
title: Forms - ACCS Request Access EN-US
label: ACCS Request Access
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--accs-request-access.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="ACCS Request Access EN-US"
         data-apiFolder="accs-request-access">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


