---
# <!-- @formatter:off -->
title: Forms - APSCU Request Demo
label: APSCU Request Demo
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--apscu-request-demo.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-label="APSCU Request Demo"
         data-apiFolder="apscu-request-demo">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


