---
# <!-- @formatter:off -->
title: Forms - CampusNexus Mobile Portal Contact
label: CampusNexus Mobile Portal Contact
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--cnx-mobile-portal-contact.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="CampusNexus Mobile Portal Contact"
         data-apiFolder="cnx-mobile-portal-contact">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


