---
# <!-- @formatter:off -->
title: Forms - Consultation Request
label: Consultation Request
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--consultation-request.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-label="Consultation Request"
         data-apiFolder="consultation-request">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


