---
# <!-- @formatter:off -->
title: Forms - Contact Us
label: Contact Us
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--contact-us.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="ContactUsApp"
         data-site="cmc"
         data-label="Contact US"
         data-apiFolder="contact-us">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


