---
# <!-- @formatter:off -->
title: Forms - Convert To Campusnexus
label: Convert to CampusNexus
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--convert-to-campusnexus.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="Convert to CampusNexus"
         data-apiFolder="convert-to-campusnexus">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


