---
# <!-- @formatter:off -->
title: Forms - EDUCAUSE Request Demo
label: EDUCAUSE Request Demo EN-IN
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--educause-request-demo.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-in"
         data-label="EDUCAUSE Request Demo - CMC - EN-IN"
         data-apiFolder="educause-request-demo">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


