---
# <!-- @formatter:off -->
title: Forms - Educause-Executive-Reception-RSVP
label: Educause RSVP EN-US
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--educause-executive-reception-rsvp.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="Educause Executive Reception RSVP - CMC - EN-US"
         data-apiFolder="educause-reception-rsvp">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


