---
# <!-- @formatter:off -->
title: Forms - Higher Education Super Storm
label: Higher Education Super Storm EN-US
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--higher-education-super-storm.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="Higher Education Super Storm - CMC - EN-US"
         data-apiFolder="higher-education-super-storm">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


