---
# <!-- @formatter:off -->
title: Forms - OI Demo
label: OI Demo
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--oi-demo-form.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-label="{{title}}"
         data-apiFolder="oi-demo-form">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


