---
# <!-- @formatter:off -->
title: Forms - Contact Us
label: Product Center Reg - EN-IN
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--product-center-register.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-in"
         data-label="Product Center Registration - CMC - EN-IN"
         data-apiFolder="product-center-register">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


