---
# <!-- @formatter:off -->
title: Forms - WAICU Request
label: WAICU Request
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--waicu-request.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="RequestDemoApp"
         data-site="cmc"
         data-group="en-us"
         data-label="{{title}}"
         data-apiFolder="waicu-request">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


