---
# <!-- @formatter:off -->
title: Forms - Why CampusManagement
label: Why CampusManagement
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--why-campusmanagement.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="ContactUsApp"
         data-site="cmc"
         data-group="en-us"
         data-label="{{title}}"
         data-apiFolder="why-campusmanagement">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


