<div class="item-details item-details--s3-list">
    <h2 class="list-detail-app__title">Edit {{label}} Item Details</h2>

    <h3>Item Info</h3>
    <form class="cmc-form">
        <dl class="item-details-list item-details-list--edit">
            <dt>Filename</dt>
            <dd>{{s3url}}</dd>

            <dt><label for="title" class="required">Title</label></dt>
            <dd><input type="text" id="title" name="title" value="{{title}}" required></dd>

            <dt><label for="description" class="required">Description</label></dt>
            <dd><textarea id="description" name="description" required>{{description}}</textarea></dd>

            <dt><label for="priority">Priority</label></dt>
            <dd><input type="number" name="priority" id="priority" min="0" max="1" step="0.0001"
                       value="{{safeValue priority 0.5}}"></dd>

            <dt class="item-details-list__products-dt">Type(s)</dt>

            <dd class="item-details-list__products-dd">
                <ul>
                    <li>
                        <input type="checkbox"
                               name="products[]"
                               id="product-brochure"
                               value="Brochure"
                               {{#productChecked products 'Brochure'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-brochure">Brochure</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="products[]"
                               id="product-case-study"
                               value="Case Study"
                               {{#productChecked products 'Case Study'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-case-study">Case Study</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="products[]"
                               id="product-flyer"
                               value="Flyer"
                               {{#productChecked products 'Flyer'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-flyer">Flyer</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="products[]"
                               id="product-product-sheet"
                               value="Product Sheet"
                               {{#productChecked products 'Product Sheet'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-product-sheet">Product Sheet</label>
                    </li>
                    <li>
                        <input type="checkbox"
                               name="products[]"
                               id="product-whitepaper"
                               value="Whitepaper"
                               {{#productChecked products 'Whitepaper'}}checked="checked"{{/productChecked}}
                        >
                        <label for="product-whitepaper">Whitepaper</label>
                    </li>
                </ul>
            </dd>

            <dt><label for="display">Display</label></dt>
            <dd><input type="checkbox" value="true" name="display" id="display" {{#if display}}checked="checked"{{/if}}></dd>

            <dt class="item-details-list-item-title--status">Status</dt>
            <dd class="item-details__status"></dd>
            <dt class="item-details-list-item-title--actions">Actions</dt>
            <dd>
                <button class="item-details__cancel-button">Cancel</button>
                <button class="item-details__save-button">Save</button>
            </dd>
        </dl>

    </form>

    <button class="item-details__back-button">Back</button>

</div>

