---
# <!-- @formatter:off -->
title: Forms - Support Consultation Appointment Emails
label: Support Consultation
layout: admin.hbs
additional-scripts:
  - src: /scripts/page--ci-support-consultation-appointment.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/admin-2col"}}

{{#content "top" mode="append"}}

{{/content}}

{{#content "left"  mode="append"}}
{{> admin-nav}}
{{/content}}

{{#content "body"}}
<section class="main-app app-container--list-detail" id="ContactUsApp"
         data-label="Support Consultation Appointment Emails"
         data-apiFolder="campusInsight/ci/web-hook--schedule-support-item">
    <div class="loading--placeholder">Loading...</div>
</section>
{{/content}}
{{/extend}}


